# IntelliJ Project files #
*.iml
*.ipr
*.iws

# Gradle #
/.gradle/
/eclipse/
/run/
/build/
/out/
/run/

# Eclipse #
/mappings/
*.classpath
.project
*.prefs
*.launch

# Minecraft #
/bin/
/mods/
/logs/
/config/